@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    max-width: 100%;
    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 100%;
}

.background {
    position: absolute;
}

.background img {
    object-fit: cover;
}

nav {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: #41B06Eaa;
    color: #fff;
    padding: 1.5rem 1rem;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

img {
    object-fit:cover;
    width: 100%;
    min-height: 572px;
    background:rgba(0,0,0,0.7);
}

section {
    position: absolute;
    z-index: 10;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

section > h1 {
    font-size: 3rem;
    /* height: 100vh; */
    width: 50%;
    color: whitesmoke;
}

section > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #41B06Eaa;
    padding: 2rem;
    border-radius: 8px;
}

section > form > input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
    border: none
}

section > form > select {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
    border: none
}

.btn {
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background-color: #f47920AA;
    color: #fff;
}

.btn:hover {
    background-color: #f47920DD;
    cursor: pointer;
}

.wave-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
 }
 .wave {
    background: url(https://ilumina.ca/img/blue_bg_02.png)
    repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 300px;
 }

 footer {
    z-index: 1000;
    height: 10vh;
 }