<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    <title>Galgotias Hospital</title>
    <style>
        body {
            height: 100vh;
            display: grid;
            place-content: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- <div>
    
    
        <a  class = "navbar-brand" href = "#">    
            <img src="{{ url_for('static', filename='assests\thankyou2.jpg')}}"  length="500" width="300" alt="image is not available">
        </a>
        <h3>Thank You 🙏</h3>
        <p>Your response have been submitted, we will reach out you shortly.</p>
    </div> -->
    <div>
        <section>
            <div class="header">
                <div class="details">
                    <h2>Galgotias Hospital</h2>
                    <h1>Your Trusted Healthcare Partner</h1>
                    <p>Welcome to Galgotias Hospital, where we believe in healing with compassion and expertise. As a premier
                        healthcare facility, we are committed to providing exceptional medical care and personalized attention
                        to every patient who walks through our doors.</p>
                </div>
            </div>
            <div>
                <img src="{{url_for('static', filename='assests/galgotias.jpg')}}" top="10vh" width="100%" >
            </div>
        </section>
    </div>

    <a href="/" class="book-an-appointment-btn text-white">
        Book An Appointment
    </a>
    
</body>
</html>